<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" media="screen" th:href="@{./css/bootstrap.min.css}"/>
    <link rel="stylesheet" media="screen" th:href="@{./sb/css/sb-admin-2.min.css}"/>
    <script th:src="@{./js/bootstrap.min.js}"></script>
    <script th:src="@{./sb/js/sb-admin-2.min.js}"></script>

    <script  th:src="@{./js/jquery.min.js}"></script>
</head>
<body>
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" th:fragment="header">

        <a class="navbar-brand mr-1" href="#">ReviewAnalyzer</a>
    </nav>
</body>
</html>